body {
    background-image:url(../image/login.png);
    color: var(--bodyColor);
    background-repeat: no-repeat;
    background-size: cover;
}

.text a{
    color:#ffff
}

.container {
    text-align: center;
}